<div class="row">
  <div class="col-md-12">
    <h3>Posts List {{ count$ | async }} </h3>
    <a href="#" [routerLink]="['/posts/create']">Add Post</a>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts$ | async">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td><a class="btn btn-info" [routerLink]="['/posts', 'edit', post.id]">Edit</a> </td>
          <td><button class="btn btn-danger" (click)="onPostDelete(post.id)">Delete</button></td>
          <td><a class="btn btn-info" [routerLink]="['/posts', 'details', post.id]">Details</a> </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>

</div>